<div class="container">
  <div class="row">
    <!-- overview -->
    <div class="overview">
      <br/>
      <img src="../../../assets/avatar.png" alt="avatar" title="avatar"/>
      <ul>
        <strong>{{name}}</strong>
        <li>{{numOfPost}}<strong>12</strong></li>
        <li>{{follower}}<strong>{{numOfFollower}}</strong></li>
        <li>{{following}}<strong>89</strong></li>
        <button *ngIf='!isFollow' (click)='follow()'>{{btnFollow}}</button>
        <button *ngIf='isFollow' (click)='unfollow()'>{{btnUnfollow}}</button>
      </ul>
      <br/>
    </div>

    <mat-tab-group class="detail">

        <mat-tab label="Introduction">
          <h4><strong>{{name}}</strong></h4>
          <p>
            <strong style="color:cornflowerblue">{{joined}}</strong> {{joinTime}}
          </p>
          <p>
            {{describe}}
          </p>
        </mat-tab>

      <mat-tab label="Articles">
        <div>
          <br/>
          <a routerLink='/pages/review' routerLinkActive='active'><h5>{{title}}</h5></a>
          <span>{{overviewArticle}}</span>
          <br/>
    
          <br/>
          <a routerLink='/pages/review' routerLinkActive='active'><h5>{{title}}</h5></a>
          <span>{{overviewArticle}}</span>
          <br/>
        </div>
      </mat-tab>

      <mat-tab label="Photos">
        <div class="container">
          <div class="row photo">
            <img src="../../../assets/checkin.png" title="checkin"/>
            <img src="../../../assets/checkin.png" title="checkin"/>
            <img src="../../../assets/checkin.png" title="checkin"/>
            <img src="../../../assets/checkin.png" title="checkin"/>
            <img src="../../../assets/checkin.png" title="checkin"/>
          </div>
        </div>
      </mat-tab>

    </mat-tab-group>

  </div>
</div>
