<div class="container">
  <div class="row">
    <!-- overview -->
    <div class="overview">
      <br/>
      <img src="../../../assets/avatar.png" alt="avatar" title="avatar"/>
      <ul>
        <strong>Johnny</strong>
        <li>Number of posts: <strong>12</strong></li>
        <li>Follower: <strong>89</strong></li>
        <li>Following: <strong>89</strong></li>
      </ul>
      <br/>
    </div>

    <mat-tab-group class="detail">

        <mat-tab label="Introduction">
          <h4><strong>Johnny</strong></h4>
          <p>
            <strong style="color:cornflowerblue">Joined:</strong> March 14 2012
          </p>
          <p>
            A personal diary of all the adventures in the rockies and travels to explore new sights.
          </p>
        </mat-tab>

      <mat-tab label="Articles">
        <div>
          <br/>
          <a routerLink='/pages/review' routerLinkActive='active'><h5>Hồ Con Rùa</h5></a>
          <span>Ròng rã suốt 3 thế kỷ từ thời Pháp thuộc, trước và sau 1975, địa danh Hồ con Rùa được xem là một công trình văn hóa, lịch sử đã từng chứng kiến vô số sự kiện sôi nổi của lịch sử nước ta...</span>
          <br/>
    
          <br/>
          <a routerLink='/pages/review' routerLinkActive='active'><h5>Hồ Con Rùa</h5></a>
          <span>Ròng rã suốt 3 thế kỷ từ thời Pháp thuộc, trước và sau 1975, địa danh Hồ con Rùa được xem là một công trình văn hóa, lịch sử đã từng chứng kiến vô số sự kiện sôi nổi của lịch sử nước ta...</span>
          <br/>
        </div>
      </mat-tab>

      <mat-tab label="Photos">
        <div class="container">
          <div class="row photo">
            <img src="../../../assets/checkin.png" title="checkin"/>
            <img src="../../../assets/checkin.png" title="checkin"/>
            <img src="../../../assets/checkin.png" title="checkin"/>
            <img src="../../../assets/checkin.png" title="checkin"/>
            <img src="../../../assets/checkin.png" title="checkin"/>
          </div>
        </div>
      </mat-tab>

    </mat-tab-group>

  </div>
</div>
