<div class="container">
  <div class="row">
    <!-- overview -->
    <div class="overview">
      <br/>
      <img src="../../../assets/avatar.png" alt="avatar" title="avatar"/>
      <ul>
        <li>Johnny</li><br/>
        <li>Number of posts: 12</li><br/>
        <li>Trust score: 89</li>
      </ul>
      <br/>
    </div>

    <!-- detail -->
    <div class="detail">
        <br/>
        <a href="#"><h5>Hồ Con Rùa</h5></a>
        <span>Ròng rã suốt 3 thế kỷ từ thời Pháp thuộc, trước và sau 1975, địa danh Hồ con Rùa được xem là một công trình văn hóa, lịch sử đã từng chứng kiến vô số sự kiện sôi nổi của lịch sử nước ta...</span>
        <br/>

        <br/>
        <a href="#"><h5>Hồ Con Rùa</h5></a>
        <span>Ròng rã suốt 3 thế kỷ từ thời Pháp thuộc, trước và sau 1975, địa danh Hồ con Rùa được xem là một công trình văn hóa, lịch sử đã từng chứng kiến vô số sự kiện sôi nổi của lịch sử nước ta...</span>
        <br/>
    </div>
  </div>
</div>
