<div class="container-fluid" id="header-transparent">
    <div class="row align-items-center">
        <div class="col text-center">
            <input
                id="searchDestination"
                type="text"
                class="form-control"
                aria-describedby="Choose your destination"
                placeholder="Choose your destination"/>
        </div>

        <div class="col text-center">
            <img id="logo" src="assets/travel.png" alt="Travel"/>
        </div>

        <div class="col text-right pr-4">
            <button class="mr-3">Sign in</button>
            <button>Booking</button>
        </div>
    </div>
</div>