<div class="container-fluid" id="header-transparent">
    <div class="row align-items-center">
        <div class="col text-center">
            <input
                id="searchDestination"
                type="text"
                class="form-control"
                aria-describedby="Choose your destination"
                placeholder="Choose your destination"
                [matAutocomplete]="auto"
                [formControl]="stateCtrl"
                (keyup)="onKey($event)"/>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
                    <img class="option-img" aria-hidden [src]="state.flag" height="15"/>
                    &nbsp;
                    <span>{{state.capital}}</span>
                    |
                    <small>{{state.name}}</small>
                </mat-option>
            </mat-autocomplete>
        </div>

        <div class="col text-center">
            <a routerLink='/pages' routerLinkActive='active'>
                <img id="logo" src="assets/travel.png" alt="Travel"/>
            </a>

        </div>

        <div class="col text-right pr-4">
            <button *ngIf="!isSignIn" (click)="showSignIn()">{{signin}}</button>
            <button *ngIf="isSignIn" mat-button [matMenuTriggerFor]="menu">{{name}}</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink='/pages/profile' routerLinkActive='active'>{{profile}}</button>
                <button mat-menu-item>{{post}}</button>
                <button mat-menu-item (click)="showSignOut()">{{signout}}</button>
            </mat-menu>
            
            <button class="ml-2"><i class="fa fa-bell"></i> 1</button>

            <button class="ml-2" (click)="navigateToBooking()">Booking</button>
        </div>
    </div>
</div>