#header-transparent {
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid white;

    #logo {
        width: 100px;
        height: 50px;
    }

    #searchDestination {
        color: white;
        font-size: 20px;
        font-weight: 500;
        background: transparent;
        border: none;

        &::placeholder {
            color: white;
        }

        &:focus {
            border: none;
            outline: none;
        }
    }

    button {
        border: 2px solid white;
        background: transparent;
        font-size: 13px;
        border-radius: 15px;
        padding: 5px 20px;
        font-weight: 500;
        color: white;

        &:hover {
            cursor: pointer;
            background-color: white;
            color: rgba(0,0,0,0.1);
        }
    }
}
