.main {
    /* width: 80%; */
}

.relative {
    background-color: rgb(235, 232, 232);
    /* width: 20%; */
}

.relativePeople img {
    max-width: 3em;
    max-height: 3em;
}

.imageCheckIn img {
    max-width: auto;
    max-height: 16em;
    padding-bottom: 1em;
}

.review {
    background-color: lightyellow;
    border: 0.001em solid;
    padding: 1em 1em 1em 1em;
    text-align: justify;
}

h1 {
    /* color: red; */
}

.author {
    color: darkorange;
}

.comment {
    background-color:rgb(235, 232, 232);
    border: 0.001em solid;
    padding: 1em 1em 1em 1em;

}

.comment img {
    max-width: 3em;
    max-height: 3em;
}

.vote {
    float: right;
}

mat-icon {
    padding-left: 1em;
    padding-right: 1em;
}

.author {
    font-size: 0.6em;
}

.author img {
    max-width: 3em;
    max-height: 3em;
}

textarea {
    width: 100%;
}

.addComment {
    overflow: hidden;
}

.addComment input {
    float: right;
}

.img1 {
    width: 75%;
    height: auto;
    padding-left: 12em;
}

.img2 {
    width: 50%;
    height: auto;
    padding: 0.5em 0.5em 0.5em 0.5em;
}