.main {
    /* background-color: aqua; */
}

.relative {
    background-color: rgb(235, 232, 232);
}

.relativePeople {
    
}

.imageCheckIn {

}

.review {
    background-color: lightyellow;
    border: 0.001em solid;
}

.comment {
    background-color:rgb(235, 232, 232);
    border: 0.001em solid;

}

.author {
    font-size: 0.6em;
}