<div class="container-fluid review-page my-4">
    <div class="row">
        <div class="col-md-12 col-lg-9 left-side p-4 pr-3">
            <div class="media title">

                <div class="media-body">
                    <h1 class="mt-0">Hồ con rùa</h1>

                    <div class="media profile">
                        <img class="mr-3 avatar" src="assets/avatar.png" alt="Hồ con rùa"/>
                        <div class="media-body">
                            <div>
                                Johnny
                                <br/>
                                <span class="followers">Followers: 89</span>
                            </div>
                            <div>
                                <span class="time mr-2">20/12/2018</span>
                                <span class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>

                <img class="mr-1 " src="assets/hcmc5.jpg" alt="Hồ con rùa"/>
            </div>

            <div class="content mt-3">
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra
                turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                felis in faucibus. Donec sed odio dui. Nullam quis risus eget urna mollis ornare
                vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus.

                <div class="row">
                    <div class="col-6 p-3">
                        <div class="card p-2">
                            <img class="card-img-top" src="assets/hcmc8.jpg" alt="Card image cap"/>

                        </div>
                    </div>

                    <div class="col-6 p-3">
                        <div class="card p-2">
                            <img class="card-img-top" src="assets/hcmc6.jpg" alt="Card image cap"/>

                        </div>
                    </div>
                </div>

                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra
                turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                felis in faucibus. Donec sed odio dui. Nullam quis risus eget urna mollis ornare
                vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus.
                <br/>
                <br/>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra
                turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                felis in faucibus. Donec sed odio dui. Nullam quis risus eget urna mollis ornare
                vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus.
            </div>

            <hr/>

            <div class="review mt-3">

                <div class="row mod-rating mb-3">
                    <div class="col-4 mod-rating-left">
                        <div>

                            <span style="font-size: 48px;">4.5</span>
                            <span style="font-size: 30px; color: rgba(0,0,0,0.4)">/5</span>
                            <br/>
                            <span style="color: #ffc107; font-size: 30px">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half"></i>
                            </span>
                            <br/>
                            <span style="font-size: 11px; color: rgba(0,0,0,0.4)">16 ratings</span>
                        </div>
                    </div>

                    <div class="col-8 mod-rating-right">
                        <div class="row">
                            <div class="col-md-4 col-lg-2 p-0">
                                <span style="color: #ffc107">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>
                            </div>

                            <div class="progress col-md-4 col-lg-4 p-0">
                                <div
                                    class="progress-bar bg-warning"
                                    role="progressbar"
                                    style="width: 55%"
                                    aria-valuenow="75"
                                    aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>

                            <div class="col-md-1 col-lg-1 mt-0 pt-0">
                                <span style="font-size: 13px; margin-top: -10px">16</span>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4 col-lg-2 p-0">
                                <span style="color: #ffc107">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>

                                <span style="color: rgba(0,0,0,0.4)">

                                    <i class="fa fa-star"></i>
                                </span>
                            </div>

                            <div class="progress col-md-4 col-lg-4 p-0">
                                <div
                                    class="progress-bar bg-warning"
                                    role="progressbar"
                                    style="width: 55%"
                                    aria-valuenow="75"
                                    aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>

                            <div class="col-md-1 col-lg-1 mt-0 pt-0">
                                <span style="font-size: 13px; margin-top: -10px">16</span>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-4 col-lg-2 p-0">
                                <span style="color: #ffc107">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>

                                </span>

                                <span style="color: rgba(0,0,0,0.4)">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>
                            </div>

                            <div class="progress col-md-4 col-lg-4 p-0">
                                <div
                                    class="progress-bar bg-warning"
                                    role="progressbar"
                                    style="width: 55%"
                                    aria-valuenow="75"
                                    aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>

                            <div class="col-md-1 col-lg-1 mt-0 pt-0">
                                <span style="font-size: 13px; margin-top: -10px">16</span>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-4 col-lg-2 p-0">
                                <span style="color: #ffc107">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>

                                </span>

                                <span style="color: rgba(0,0,0,0.4)">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>
                            </div>

                            <div class="progress col-md-4 col-lg-4 p-0">
                                <div
                                    class="progress-bar bg-warning"
                                    role="progressbar"
                                    style="width: 55%"
                                    aria-valuenow="75"
                                    aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>

                            <div class="col-md-1 col-lg-1 mt-0 pt-0">
                                <span style="font-size: 13px; margin-top: -10px">16</span>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-4 col-lg-2 p-0">
                                <span style="color: #ffc107">
                                    <i class="fa fa-star"></i>

                                </span>

                                <span style="color: rgba(0,0,0,0.4)">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>
                            </div>

                            <div class="progress col-md-4 col-lg-4 p-0">
                                <div
                                    class="progress-bar bg-warning"
                                    role="progressbar"
                                    style="width: 55%"
                                    aria-valuenow="75"
                                    aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>

                            <div class="col-md-1 col-lg-1 mt-0 pt-0">
                                <span style="font-size: 13px; margin-top: -10px">16</span>
                            </div>

                        </div>
                    </div>
                </div>

                <hr/>

                <div class="media profile">
                    <img class="mr-3 avatar" src="assets/avatar.png" alt="Hồ con rùa"/>
                    <div class="media-body">
                        <div>
                            Johnny
                        </div>
                        <div>
                            <span class="time mr-2">20/12/2018</span>
                            <span class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>

                        <div class="comment">
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                            sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra
                            turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                            felis in faucibus.
                        </div>

                        <div class="vote mt-3 pr-5">
                            <mat-icon matBadge="15" matBadgeColor="warn">
                                <i class="fa fa-thumbs-up"></i>
                            </mat-icon>&nbsp;&nbsp;&nbsp;
                            <mat-icon matBadge="15" matBadgeColor="warn">
                                <i class="fa fa-thumbs-down"></i>
                            </mat-icon>
                        </div>
                    </div>

                </div>

                <hr/>

                <div class="media profile">
                    <img class="mr-3 avatar" src="assets/avatar.png" alt="Hồ con rùa"/>
                    <div class="media-body">
                        <div>
                            Johnny
                        </div>
                        <div>
                            <span class="time mr-2">20/12/2018</span>
                            <span class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>

                        <div class="comment">
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                            sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra
                            turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                            felis in faucibus.
                        </div>

                        <div class="vote mt-3 pr-5">
                            <mat-icon matBadge="15" matBadgeColor="warn">
                                <i class="fa fa-thumbs-up"></i>
                            </mat-icon>&nbsp;&nbsp;&nbsp;
                            <mat-icon matBadge="15" matBadgeColor="warn">
                                <i class="fa fa-thumbs-down"></i>
                            </mat-icon>
                        </div>
                    </div>

                </div>

                <hr/>

            </div>

            <div class="add-review">
                <form (submit)="!!onSubmit()">
                    <div class="form-group">
                        <label for="comment">Comment</label>
                        <textarea class="form-control" id="comment" rows="3"></textarea>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-danger" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-12 col-lg-3">
            <div class="right-side">
                <div class="relative-post" id="relativePost">
                    <h5 class="moreReviews">More reviews</h5>
                    <div class="media">
                        <img class="mr-1" src="assets/home.jpg" alt="Generic placeholder image"/>
                        <div class="media-body">
                            <h6 class="mt-0">Hồ con rùa, tuyệt tác tạo hóa</h6>

                            <div style="font-size: 13px">Johnny</div>
                            <div>
                                <span
                                    class="time"
                                    style="font-size: 11px; color: rgba(0,0,0,0.4); font-style: italic;">20/12/2018</span>
                                &nbsp;
                                <span class="rating" style="color: #ffc107">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <hr/>

                    <div class="media">
                        <img class="mr-1" src="assets/home.jpg" alt="Generic placeholder image"/>
                        <div class="media-body">
                            <h6 class="mt-0">Hồ con rùa, tuyệt tác tạo hóa</h6>

                            <div style="font-size: 13px">Johnny</div>
                            <div>
                                <span
                                    class="time"
                                    style="font-size: 11px; color: rgba(0,0,0,0.4); font-style: italic;">20/12/2018</span>
                                &nbsp;
                                <span class="rating" style="color: #ffc107">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <hr/>

                    <div class="media">
                        <img class="mr-1" src="assets/home.jpg" alt="Generic placeholder image"/>
                        <div class="media-body">
                            <h6 class="mt-0">Hồ con rùa, tuyệt tác tạo hóa</h6>

                            <div style="font-size: 13px">Johnny</div>
                            <div>
                                <span
                                    class="time"
                                    style="font-size: 11px; color: rgba(0,0,0,0.4); font-style: italic;">20/12/2018</span>
                                &nbsp;
                                <span class="rating" style="color: #ffc107">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <hr/>
                </div>

                <hr/>

                <div class="image row" id="image">
                    <div class="col-4">
                        <div>
                                <a data-toggle="modal" data-target="#modalImage"><img class="card-img-top" src="assets/hcmc7.jpg" alt="Card image cap"/></a>
                        </div>

                    </div>
                    <div class="col-4">
                        <div>
                                <a data-toggle="modal" data-target="#modalImage"><img class="card-img-top" src="assets/hcmc3.jpg" alt="Card image cap"/></a>
                        </div>
                    </div>

                    <div class="col-4">
                        <div>
                            <a data-toggle="modal" data-target="#modalImage"><img class="card-img-top" src="assets/hcmc8.jpg" alt="Card image cap"/></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- TODO: Coi lại khúc này này -->
<app-modal-image></app-modal-image>