<div class="container">
  <div class="row">
    <!-- main review -->
    <div class="col-md-9 main">
      <!-- title of review -->
      <div>
        <h1>{{title}}</h1>
      </div>
      <!-- ------- -->
  
      <!-- about author -->
      <div class="container author">
        <div class="row">
          <a href="/pages/profile">
            <img src="../../../assets/avatar.png" title="author" alt="author"/>
          </a>
              
          <div>
            <span>{{name}}</span><br/>
            <span>{{numOfPost}}12</span><br/> 
            <span>{{follower}}89</span><br/>
            <span>{{following}}89</span>
          </div>
        </div>
      </div>
      <!-- ------- -->
  
      <!-- review content-->
      <br/>
      <div class="review">
        <p>{{contentArticlePar1}}</p>
        <img class="img2" src="../../../assets/checkin.png" title="checkin"/>
        <img class="img2" src="../../../assets/checkin.png" title="checkin"/>
        <br>
        <p>{{contentArticlePar2}}</p>
        <img class='img1' src="../../../assets/checkin.png" title="checkin"/>
        <br/>
        <p>{{contentArticlePar3}}</p>
      </div>
      <!-- ------- -->

      <!-- comment -->
      <hr/> 
      <div class="container comment">
        <!-- view comment -->
        <div class="container">
          <img src="../../../assets/avatar.png"/>
          <span>
              Cứ tối tối là khu này bao đông luôn. Tốn 5k gửi xe đối diện nếu ngồi tầm 30p thì để ngay xe đó cũg đc chỉ có điều chịu khó ngó kẻo bị chôm. Chỗ ngồi thì chỉ sáng mờ mờ đủ nhìn nhau mà mn vẫn cứ thích vậy á. Ăn vặt thì đầy đủ các món luôn Bánh tráng Bánh trứng Bắp Trứng gà Da heo vân vân Trà tắc trà sữa trà chanh Chưa kể mấy em hs đi bán dạo nữa.
          </span>
          <span class="vote">
            <mat-icon matBadge='1' matBadgeColor="warn">thumb_up</mat-icon>  
            <mat-icon matBadge='1' matBadgeColor="warn">thumb_down</mat-icon> 
          </span>
          <hr/>
        </div>

        <div class="container">
          <img src="../../../assets/avatar.png"/>
          <span>
            Đồ ăn thì k rẻ nhưng đc cái ăn vừa miệng chứ k dở. 
          </span>
          <span class="vote">
            <mat-icon matBadge='1' matBadgeColor="warn">thumb_up</mat-icon>  
            <mat-icon matBadge='1' matBadgeColor="warn">thumb_down</mat-icon> 
          </span>
          <hr/>
        </div>

        <!-- add comment -->
        <div class="container  addComment">
          Add comment
          <br/> 
          <textarea></textarea>
          <input type="submit" style="margin-left: 1em;" title="Cancel" value="Cancel">
          <input type="reset" title="Post" value="Post">
        </div>
      </div>
      <br/>
    <!-- ------- -->
    </div>
    <!-- ------- -->
  
    <!-- relative -->
    <div class="col-md-3 relative">
      <div class="relativePeople">
        {{relatedPost}}
        <div class="container">
          <div class="row">
            <div>
              <a href="/pages/review">
                <img src="../../../assets/avatar.png" title="author" alt="author"/>
                Ăn vặt...
              </a>
            </div>
            <div>
              <a href="/pages/review">
                <img src="../../../assets/avatar.png" title="author" alt="author"/>
                Lịch sử...
              </a>
            </div>
          </div>
        </div>
      </div> 
      <hr/>
      <div class="imageCheckIn">
        {{checkin}}
        <div class="container">
          <div class="row">
              <img src="../../../assets/checkin.png" title="checkin" alt="checkin"/>
              <img src="../../../assets/checkin.png" title="checkin" alt="checkin"/>
              <img src="../../../assets/checkin.png" title="checkin" alt="checkin"/>
              <img src="../../../assets/checkin.png" title="checkin" alt="checkin"/>
              <img src="../../../assets/checkin.png" title="checkin" alt="checkin"/>
          </div>
        </div>
      </div>     
    </div>
    <!-- ------- -->
  </div>
</div>

