<app-header-transparent></app-header-transparent>
<div id="top"></div>
<div class="background">
    <img src="assets/home.jpg" alt="Home"/>
    <div class="container">
        <div class="title">
            <h1 style="font-family: avenir-black; color: white;">
                <strong>{{slogan}}</strong>
            </h1>
        </div>
        <div class="search">
            <!-- <mat-form-field> -->
            <input
                type="text"
                placeholder="Search destination"
                [matAutocomplete]="auto"
                [formControl]="stateCtrl"/>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
                    <div class="row">
                        <div class="col">
                            <img class="option-img" aria-hidden [src]="state.flag" height="25"/>
                            <span>{{state.capital}}</span>
                            |
                            <small>{{state.name}}</small>
                        </div>

                        <div class="col text-right" (click)="navigateToCity()">
                            <span style="color: #0084ff;" >more</span>
                        </div>
                    </div>

                </mat-option>
            </mat-autocomplete>
            <a routerLink='/pages/overview' routerLinkActive='active'><img src="../../../../../assets/iconsearch.png"/></a>
            <!-- </mat-form-field> -->
        </div>
    </div>
    <app-footer-transparent></app-footer-transparent>
</div>

<div class="container mt-3" id="explore">
    <h3 style="font-family: avenir-black;">{{title}}</h3>
    <div class="row">
        <div class="col-md-6 col-lg-3">
            <div
                class="card mt-3 p-1"
                *ngFor="let item of explore1"
                (click)="navigateToPlace()">
                <img class="card-img-top" [src]="item.img" alt="Card image cap"/>
                <p class="card-text mt-3" style="font-family: avenir-book;">{{item.title}}</p>
            </div>

        </div>

        <div class="col-md-6 col-lg-3">
            <div
                class="card mt-3 p-1"
                *ngFor="let item of explore2"
                (click)="navigateToPlace()">
                <img class="card-img-top" [src]="item.img" alt="Card image cap"/>
                <p class="card-text mt-3" style="font-family: avenir-book;">{{item.title}}</p>
            </div>

        </div>

        <div class="col-md-6 col-lg-3">
            <div
                class="card mt-3 p-1"
                *ngFor="let item of explore3"
                (click)="navigateToPlace()">
                <img class="card-img-top" [src]="item.img" alt="Card image cap"/>
                <p class="card-text mt-3" style="font-family: avenir-book;">{{item.title}}</p>
            </div>

        </div>

        <div class="col-md-6 col-lg-3">
            <div
                class="card mt-3 p-1"
                *ngFor="let item of explore4"
                (click)="navigateToPlace()">
                <img class="card-img-top" [src]="item.img" alt="Card image cap"/>
                <p class="card-text mt-3" style="font-family: avenir-book;">{{item.title}}</p>
            </div>

        </div>
    </div>
</div>