<div class="background">
  <div class="container">
      <div class="title">
        <h1><strong>TRAVELING</strong></h1>
      </div>
      <div class="search">
        <!-- <mat-form-field> -->
            <input type="text" placeholder="Search destination" [matAutocomplete]="auto" [formControl]="stateCtrl"/>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
                <img class="option-img" aria-hidden [src]="state.flag" height="25"/>
                <span>{{state.name}}</span> |
                <small>Capital: {{state.capital}}</small>
              </mat-option>
            </mat-autocomplete>
            <a routerLink='/pages/overview' routerLinkActive='active'><img src="../../../../../assets/iconsearch.png"/></a>
        <!-- </mat-form-field> -->
      </div>
    </div>
</div>