<div id="footer-transparent">
    <div class="container-fluid" [ngClass]="{'absolute': flag}">
        <div class="row align-items-center">
            <div class="col text-center">
                <img id="logo" src="assets/travel.png" alt="Travel"/>
            </div>
    
            <div class="col text-center">
                <a href="javascript:void(0)">About</a>
            </div>
    
            <div class="col text-center">
                <a href="javascript:void(0)">Partner</a>
            </div>
    
            <div class="col text-center">
                <a href="javascript:void(0)">Contact</a>
            </div>
    
            <div class="col text-center">
                <a href="javascript:void(0)">Conditions</a>
            </div>
    
            <div class="col text-center">
                <a href="javascript:void(0)">Policies</a>
            </div>
        </div>
    </div>
</div>