<a routerLink="/pages/article" routerLinkActive="active">
    <div class="media relative-article">
        <img class="mr-1" [src]="article.img" alt="{{article.title}}"/>
        <div class="media-body">
            <h6 class="mt-0" style="font-family: avenir-black;">{{article.title}}</h6>
    
            <div style="font-size: 10px" style="font-family: avenir-roman;">{{article.author}}</div>
            <div>
                <span
                    class="time"
                    style="font-size: 11px; color: rgba(0,0,0,0.4); font-style: italic;">{{article.time}}</span>
                &nbsp;
    
            </div>
        </div>
    </div>
</a>

<hr/>