<!-- overview image -->
<div #top class="overviewImage">
  <div class="title">
    <h1>
      <strong>Ho Chi Minh City</strong>
    </h1>
  </div>
</div>
<div class="subMenu">
  <div class="row">
    <span (click)='scroll(gallery)' class="col-md-3"><strong>Gallery</strong></span>
    <span (click)='scroll(place)' class="col-md-3"><strong>Popular Places</strong></span>
    <span (click)='scroll(article)' class="col-md-3"><strong>Related Articles</strong></span>
    <span (click)='scroll(activity)' class="col-md-3"><strong>Things To Do</strong></span>
  </div>
</div>

<!-- overview content -->
<div class="overview">
  <div class="row">
    <div class="col-md-4">
      <h6><strong>Weather</strong></h6>
      <span>
        30<sup>o</sup>C<span style="color: gray">28<sup>o</sup>C</span>
      </span>
    </div>
    <div class="col-md-4">
      <h6><strong>Time</strong></h6>
      <span>GMT +07:00</span>
    </div>
    <div class="col-md-4">
      <h6><Strong>Currency</Strong></h6>
      <span>Vietnam dong (VND)</span>
    </div>
  </div>
  <br/>
  <p>Located in southeast Vietnam, the metropolis surrounds the Saigon River and covers about 2,061 square kilometres</p>
  <p (click)='scroll(activity)' style="color: gray; cursor: pointer;">Must Eat | Rest | Sightseeing</p>
  <p (click)='scroll(activity)' style="color:blue; cursor: pointer;"><strong>More...</strong></p>
</div>


<hr/>

<!-- image -->
<div class="heading">
  <h1>Gallery</h1>
</div>
<div #gallery>
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile><img src="../../../assets/hcmc1.jpg"/></mat-grid-tile>
    <mat-grid-tile><img src="../../../assets/hcmc2.jpg"/></mat-grid-tile>
    <mat-grid-tile><img src="../../../assets/hcmc3.jpg"/></mat-grid-tile>
    <mat-grid-tile><img src="../../../assets/hcmc4.jpg"/></mat-grid-tile>
    <mat-grid-tile><img src="../../../assets/hcmc5.jpg"/></mat-grid-tile>
    <mat-grid-tile><img src="../../../assets/hcmc6.jpg"/></mat-grid-tile>
  </mat-grid-list>
</div>

<hr/>

<!-- interestin places -->
<div class="heading">
  <h1>Popular Places</h1>
</div>
<div #place class="place">
  <mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile>
      <div class="card">
        <a href="/pages/places">
          <img src="../../../assets/image.jpg" alt="Avatar" style="width:100%">
        </a>
        <a href="/pages/places">
          <div class="container">
            <h4><b>Bitexco</b></h4> 
            <p>Address: bla bla</p> 
          </div>
        </a>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="card">
        <a href="/pages/places">
          <img src="../../../assets/hcmc6.jpg" alt="Avatar" style="width:100%">
        </a>
        <a href="/pages/places">
          <div class="container">
            <h4><b>Ben Thanh Market</b></h4> 
            <p>Address: bla bla</p> 
          </div>
        </a>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="card">
        <a href="/pages/places">
          <img src="../../../assets/hcmc10.jpg" alt="Avatar" style="width:100%">
        </a>
        <a href="/pages/places">
          <div class="container">
            <h4><b>Nha Rong Habour</b></h4> 
            <p>Address: bla bla</p> 
          </div>
        </a>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="card">
        <a href="/pages/places">
          <img src="../../../assets/hcmc9.jpg" alt="Avatar" style="width:100%">
        </a>
        <a href="/pages/places">
          <div class="container">
            <h4><b>Hồ Con Rùa</b></h4> 
            <p>Address: bla bla</p> 
          </div>
        </a>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<hr/>

<!-- link review -->
<div class="heading">
  <h1>Related Articles</h1>
</div>
<div class="review">
  <div #article class="container">
    <mat-paginator  [length]="length" 
    [pageSize]="pageSize" 
    [pageSizeOptions]="pageSizeOptions" 
    (page)="onPageChangedArticle($event)">
  </mat-paginator>

  <div class="container">
    <div class="row">
      <div style="padding-right:1em;" class="image">
        <a href='/pages/review'>
          <img [src]="listArticle.image" title="image" alt="image"/>
        </a>
      </div>
      
      <div class="content">
        <a href="/pages/review">
          <h4>{{listArticle.title}}</h4>
        </a>
        <a href="/pages/profile">
          <span style="font-size: 0.7em;">Author: {{listArticle.author}}</span><br/>
        </a>
        <span style="font-size: 0.7em;">Ho Chi Minh city - 20/10/2018</span>
        <div style="font-size: 0.7em; color: #ffc107;" class="rating">
          <i class="fa fa-star"></i> <i class="fa fa-star"></i>
          <i class="fa fa-star"></i> <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>

        <br/>
        <span>
          {{listArticle.content}}
        </span>
      </div>
    </div>
  </div>

  <br/>
  <br/>

  <div class="container">
    <div class="row">
      <div class="content">
        <a href="/pages/review">
          <h4>{{listArticle.title}}</h4>
        </a>
        <a href="/pages/profile">
          <span style="font-size: 0.6em;">Author: {{listArticle.author}}</span><br/>
        </a>
        <span style="font-size: 0.7em;">Ho Chi Minh city - 20/10/2018</span>
        <div style="font-size: 0.7em; color: #ffc107;" class="rating">
          <i class="fa fa-star"></i> <i class="fa fa-star"></i>
          <i class="fa fa-star"></i> <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>

        <br/>
        <span>
          {{listArticle.content}}
        </span>
      </div>

      <div style="padding-left:1em;" class="image">
        <a href='/pages/review'>
          <img [src]="listArticle.image" title="image" alt="image"/>
        </a>
      </div>
    </div>
  </div> 
</div>

<hr/>

<div class="heading">
  <h1>Things To Do</h1>
</div>
<div>
  <div #activity class="container">
    <mat-tab-group class="detail">
      <mat-tab label="Must Eat">
        <div class="container">
          <div class="row">
            <div class="card">
              <a href="/pages/places">
                <img src="../../../assets/image.jpg" alt="Avatar" style="width:100%">
              </a>
              <a href="/pages/places">
                <div class="container">
                  <h4><b>Bitexco</b></h4> 
                  <p>Address: bla bla</p> 
                </div>
              </a>
            </div> 
    
            <div class="card">
              <a href="/pages/places">
                <img src="../../../assets/image.jpg" alt="Avatar" style="width:100%">
              </a>
              <a href="/pages/places">
                <div class="container">
                  <h4><b>Bitexco</b></h4> 
                  <p>Address: bla bla</p> 
                </div>
              </a>
            </div>

            <div class="card">
              <a href="/pages/places">
                <img src="../../../assets/image.jpg" alt="Avatar" style="width:100%">
              </a>
              <a href="/pages/places">
                <div class="container">
                  <h4><b>Bitexco</b></h4> 
                  <p>Address: bla bla</p> 
                </div>
              </a>
            </div>

            <div class="card">
              <a href="/pages/places">
                <img src="../../../assets/image.jpg" alt="Avatar" style="width:100%">
              </a>
              <a href="/pages/places">
                <div class="container">
                  <h4><b>Bitexco</b></h4> 
                  <p>Address: bla bla</p> 
                </div>
              </a>
            </div>
          </div>
        </div>
      </mat-tab>
    
      <mat-tab label="Rest">
        <div class="container">
          <div class="row">
            <div class="card">
              <a href="/pages/places">
                <img src="../../../assets/image.jpg" alt="Avatar" style="width:100%">
              </a>
              <a href="/pages/places">
                <div class="container">
                  <h4><b>Bitexco</b></h4> 
                  <p>Address: bla bla</p> 
                </div>
              </a>
            </div>
          </div>
        </div>
      </mat-tab>
    
      <mat-tab label="Sightseeing">
        <div class="container">
          <div class="row">
            <div class="card">
              <a href="/pages/places">
                <img src="../../../assets/image.jpg" alt="Avatar" style="width:100%">
              </a>
              <a href="/pages/places">
                <div class="container">
                  <h4><b>Bitexco</b></h4> 
                  <p>Address: bla bla</p> 
                </div>
              </a>
            </div>
          </div>
        </div>
      </mat-tab>
    
    </mat-tab-group>
  </div>
</div>

<hr/>

<div class="heading">
  <h1>Nearby Destinations</h1>
</div>
<div class="nearby">
  <mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile>
      <div class="card">
        <a href="/pages/overview">
          <img src="../../../assets/nb1.jpg" alt="Avatar" style="width:100%">
        </a>
        <a href="/pages/overview">
          <div class="container">
            <h4><b>Đà Nẵng</b></h4> 
            <p>Address: bla bla</p> 
          </div>
        </a>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="card">
        <a href="/pages/overview">
          <img src="../../../assets/nb2.jpg" alt="Avatar" style="width:100%">
        </a>
        <a href="/pages/overview">
          <div class="container">
            <h4><b>Huế</b></h4> 
            <p>Address: bla bla</p> 
          </div>
        </a>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="card">
        <a href="/pages/overview">
          <img src="../../../assets/nb3.jpg" alt="Avatar" style="width:100%">
        </a>
        <a href="/pages/overview">
          <div class="container">
            <h4><b>Nha Trang</b></h4> 
            <p>Address: bla bla</p> 
          </div>
        </a>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="card">
        <a href="/pages/overview">
          <img src="../../../assets/nb4.jpg" alt="Avatar" style="width:100%">
        </a>
        <a href="/pages/overview">
          <div class="container">
            <h4><b>Hải Phòng</b></h4> 
            <p>Address: bla bla</p> 
          </div>
        </a>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<button (click)="scroll(top)" id="myBtn" title="Go to top">^</button>