<!-- overview image -->
<div class="overviewImage">
  <div class="title">
    <h1>
      <strong>Ho Chi Minh City</strong>
    </h1>
  </div>
</div>

<!-- overview content -->
<div class="overview">
  <!-- <h1>Ho Chi Minh City</h1> -->
  <p>
    Ho Chi Minh City (Vietnamese: Thành phố Hồ Chí Minh), also known by its former name of Saigon (Vietnamese: Sài Gòn), is the largest city in Vietnam by population. It was known as Prey Nokor (Khmer: ព្រៃនគរ)  prior to annexation by the Vietnamese in the 17th century. Under the name Saigon, it was the capital of the French colony of Cochinchina and later of the independent republic of South Vietnam 1955–75. On 2 July 1976, Saigon merged with the surrounding Gia Định Province and was officially renamed Ho Chi Minh City after revolutionary leader Hồ Chí Minh (although the name Sài Gòn is still widely used).
  </p>
  <hr/>
</div>

<!-- image -->
<h1>Gallery</h1>
<div class="container">
  <div class="gallery">
      <img src="../../../assets/gallery.jpg"/>
      <img src="../../../assets/gallery1.jpg"/>
      <img src="../../../assets/gallery.jpg"/>
      <img src="../../../assets/gallery1.jpg"/>
      <img src="../../../assets/gallery.jpg"/>
      <img src="../../../assets/gallery1.jpg"/>
  </div>
</div>

<hr/>

<!-- interestin places -->
<h1>Interesting Places</h1>
<div>
    <!-- slide -->
</div>

<hr/>

<!-- link review -->
<h1>Articles</h1>
<div class="review">
  <div class="container">
    <div class="row">
      <div class="image">
        <a href='/pages/review'>
          <img src="../../../assets/image.jpg" title="image" alt="image"/>
        </a>
      </div>
      
      <div class="content">
        <a href="/pages/review">
          <h4>Hồ Con Rùa</h4>
        </a>
        <a href="/pages/profile">
          <span style="font-size: 0.6em;">Author: Johnny</span>
        </a>
        <br/>
        <span>
          Ròng rã suốt 3 thế kỷ từ thời Pháp thuộc, trước và sau 1975, địa danh Hồ con Rùa được xem là một công trình văn hóa, lịch sử đã từng chứng kiến vô số sự kiện sôi nổi của lịch sử nước ta. Vào năm 1878 ngay tại khoảnh đất rộng bao la này, người Pháp đã cho xây một tháp nước khá kiên cố có tên là Công trường Tháp nước, sau đó đến...
        </span>
      </div>
    </div>
  </div>

  <br/>

  <div class="container">
    <div class="row">
      <div class="content">
        <a href="/pages/review">
          <h4>Hồ Con Rùa</h4>
        </a>
        <a href="/pages/profile">
          <span style="font-size: 0.6em;">Author: Johnny</span>
        </a>
        <br/>
        <span>
          Ròng rã suốt 3 thế kỷ từ thời Pháp thuộc, trước và sau 1975, địa danh Hồ con Rùa được xem là một công trình văn hóa, lịch sử đã từng chứng kiến vô số sự kiện sôi nổi của lịch sử nước ta. Vào năm 1878 ngay tại khoảnh đất rộng bao la này, người Pháp đã cho xây một tháp nước khá kiên cố có tên là Công trường Tháp nước, sau đó đến...
        </span>
      </div>

      <div class="image">
        <a href='/pages/review'>
          <img src="../../../assets/image.jpg" title="image" alt="image"/>
        </a>
      </div>
    </div>
  </div>
</div>