<app-header></app-header>

<div class="container-fluid">
    <div id="overview">
        <header class="row text-center align-items-center">
            <h1 class="mx-auto col-12">HỒ CHÍ MINH</h1>

            <div class="col-12 row py-1" id="sub-menu">
                <div class="col">
                    <span>Gallery</span>
                </div>

                <div class="col">
                    <span>Popular Places</span>
                </div>

                <div class="col">
                    <span>Related Articles</span>
                </div>

                <div class="col">
                    <span>Things To Do</span>
                </div>
            </div>
        </header>

        <main class="px-5">

            <h2 #sumary class="text-center title">Summary</h2>

            <div id="sumary"></div>

            <hr/>

            <h2 #galery class="text-center title">Galery</h2>

            <div id="galery" class="row">
                <div class="col-2 mt-1">
                    <div class="card">
                        <img class="card-img-top" src="assets/btc5.jpg" alt="Card image cap"/>
                    </div>
                </div>

                <div class="col-2 mt-1">
                    <div class="card">
                        <img class="card-img-top" src="assets/btc5.jpg" alt="Card image cap"/>
                    </div>
                </div>

                <div class="col-2 mt-1">
                    <div class="card">
                        <img class="card-img-top" src="assets/btc5.jpg" alt="Card image cap"/>
                    </div>
                </div>

                <div class="col-2 mt-1">
                    <div class="card">
                        <img class="card-img-top" src="assets/btc5.jpg" alt="Card image cap"/>
                    </div>
                </div>

                <div class="col-2 mt-1">
                    <div class="card">
                        <img class="card-img-top" src="assets/btc5.jpg" alt="Card image cap"/>
                    </div>
                </div>
            </div>

            <hr/>

            <h2 #popularPlaces class="text-center title">Popular Places</h2>

            <div id="popularPlaces">
                <div id="caroulselPopularPlaces" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-3 mt-1">
                                    <div class="card">
                                        <img class="card-img-top" src="assets/btc5.jpg" alt="Card image cap"/>

                                        <div class="card-body">
                                            <h5 class="card-title">Bitexco</h5>
                                            <p class="card-text ml-3">Address</p>
                                            <a href="javascript:void(0)" class="btn btn-primary">View more</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3 mt-1">
                                    <div class="card">
                                        <img class="card-img-top" src="assets/btc5.jpg" alt="Card image cap"/>

                                        <div class="card-body">
                                            <h5 class="card-title">Bitexco</h5>
                                            <p class="card-text ml-3">Address</p>
                                            <a href="javascript:void(0)" class="btn btn-primary">View more</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3 mt-1">
                                    <div class="card">
                                        <img class="card-img-top" src="assets/btc5.jpg" alt="Card image cap"/>

                                        <div class="card-body">
                                            <h5 class="card-title">Bitexco</h5>
                                            <p class="card-text ml-3">Address</p>
                                            <a href="javascript:void(0)" class="btn btn-primary">View more</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3 mt-1">
                                    <div class="card">
                                        <img class="card-img-top" src="assets/btc5.jpg" alt="Card image cap"/>

                                        <div class="card-body">
                                            <h5 class="card-title">Bitexco</h5>
                                            <p class="card-text ml-3">Address</p>
                                            <a href="javascript:void(0)" class="btn btn-primary">View more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-3 mt-1">
                                    <div class="card">
                                        <img class="card-img-top" src="assets/btc5.jpg" alt="Card image cap"/>

                                        <div class="card-body">
                                            <h5 class="card-title">Bitexco</h5>
                                            <p class="card-text ml-3">Address</p>
                                            <a href="javascript:void(0)" class="btn btn-primary">View more</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3 mt-1">
                                    <div class="card">
                                        <img class="card-img-top" src="assets/btc5.jpg" alt="Card image cap"/>

                                        <div class="card-body">
                                            <h5 class="card-title">Bitexco</h5>
                                            <p class="card-text ml-3">Address</p>
                                            <a href="javascript:void(0)" class="btn btn-primary">View more</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3 mt-1">
                                    <div class="card">
                                        <img class="card-img-top" src="assets/btc5.jpg" alt="Card image cap"/>

                                        <div class="card-body">
                                            <h5 class="card-title">Bitexco</h5>
                                            <p class="card-text ml-3">Address</p>
                                            <a href="javascript:void(0)" class="btn btn-primary">View more</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3 mt-1">
                                    <div class="card">
                                        <img class="card-img-top" src="assets/btc5.jpg" alt="Card image cap"/>

                                        <div class="card-body">
                                            <h5 class="card-title">Bitexco</h5>
                                            <p class="card-text ml-3">Address</p>
                                            <a href="javascript:void(0)" class="btn btn-primary">View more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-3 mt-1">
                                    <div class="card">
                                        <img class="card-img-top" src="assets/btc5.jpg" alt="Card image cap"/>

                                        <div class="card-body">
                                            <h5 class="card-title">Bitexco</h5>
                                            <p class="card-text ml-3">Address</p>
                                            <a href="javascript:void(0)" class="btn btn-primary">View more</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3 mt-1">
                                    <div class="card">
                                        <img class="card-img-top" src="assets/btc5.jpg" alt="Card image cap"/>

                                        <div class="card-body">
                                            <h5 class="card-title">Bitexco</h5>
                                            <p class="card-text ml-3">Address</p>
                                            <a href="javascript:void(0)" class="btn btn-primary">View more</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3 mt-1">
                                    <div class="card">
                                        <img class="card-img-top" src="assets/btc5.jpg" alt="Card image cap"/>

                                        <div class="card-body">
                                            <h5 class="card-title">Bitexco</h5>
                                            <p class="card-text ml-3">Address</p>
                                            <a href="javascript:void(0)" class="btn btn-primary">View more</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3 mt-1">
                                    <div class="card">
                                        <img class="card-img-top" src="assets/btc5.jpg" alt="Card image cap"/>

                                        <div class="card-body">
                                            <h5 class="card-title">Bitexco</h5>
                                            <p class="card-text ml-3">Address</p>
                                            <a href="javascript:void(0)" class="btn btn-primary">View more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a
                        class="carousel-control-prev"
                        href="#caroulselPopularPlaces"
                        role="button"
                        data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a
                        class="carousel-control-next"
                        href="#caroulselPopularPlaces"
                        role="button"
                        data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <hr/>

            <h2 class="text-center title">Related Articles</h2>

            <div id="relativeArticles">
                <div class="media">
                    <img class="mr-3" src="assets/btc2.jpg" alt="Generic placeholder image"/>
                    <div class="media-body">
                        <h4 class="mt-0">Hồ con rùa</h4>
                        <p class="author">by Johny</p>
                        <p class="time">Ho Chi Minh City - 20/11/2019</p>
                        <p class="rating" style="color: orange">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </p>
                        <br/>
                        <span>
                            Ròng rã suốt 3 thập kỉ
                        </span>
                    </div>
                </div>

                <hr/>
                <div class="media">
                    
                    <div class="media-body">
                        <h4 class="mt-0">Hồ con rùa</h4>
                        <p class="author">by Johny</p>
                        <p class="time">Ho Chi Minh City - 20/11/2019</p>
                        <p class="rating" style="color: orange">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </p>
                        <br/>
                        <span>
                            Ròng rã suốt 3 thập kỉ
                        </span>
                    </div>

                    <img class="ml-3" src="assets/btc2.jpg" alt="Generic placeholder image"/>
                </div>
            </div>

            <hr/>

            <h2 class="text-center title">Things To Do</h2>

            <div id="thingsToDo"></div>

            <hr/>

            <h2 class="text-center title">Nearby Destination</h2>

            <div id="nearbyDestination" class="mb-3">
                <div id="caroulselNearbyDestination" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-3 mt-1">
                                    <div class="card">
                                        <img class="card-img-top" src="assets/btc5.jpg" alt="Card image cap"/>

                                        <div class="card-body">
                                            <h5 class="card-title">Bitexco</h5>
                                            <p class="card-text ml-3">Address</p>
                                            <a href="javascript:void(0)" class="btn btn-primary">View more</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3 mt-1">
                                    <div class="card">
                                        <img class="card-img-top" src="assets/btc5.jpg" alt="Card image cap"/>

                                        <div class="card-body">
                                            <h5 class="card-title">Bitexco</h5>
                                            <p class="card-text ml-3">Address</p>
                                            <a href="javascript:void(0)" class="btn btn-primary">View more</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3 mt-1">
                                    <div class="card">
                                        <img class="card-img-top" src="assets/btc5.jpg" alt="Card image cap"/>

                                        <div class="card-body">
                                            <h5 class="card-title">Bitexco</h5>
                                            <p class="card-text ml-3">Address</p>
                                            <a href="javascript:void(0)" class="btn btn-primary">View more</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3 mt-1">
                                    <div class="card">
                                        <img class="card-img-top" src="assets/btc5.jpg" alt="Card image cap"/>

                                        <div class="card-body">
                                            <h5 class="card-title">Bitexco</h5>
                                            <p class="card-text ml-3">Address</p>
                                            <a href="javascript:void(0)" class="btn btn-primary">View more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-3 mt-1">
                                    <div class="card">
                                        <img class="card-img-top" src="assets/btc5.jpg" alt="Card image cap"/>

                                        <div class="card-body">
                                            <h5 class="card-title">Bitexco</h5>
                                            <p class="card-text ml-3">Address</p>
                                            <a href="javascript:void(0)" class="btn btn-primary">View more</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3 mt-1">
                                    <div class="card">
                                        <img class="card-img-top" src="assets/btc5.jpg" alt="Card image cap"/>

                                        <div class="card-body">
                                            <h5 class="card-title">Bitexco</h5>
                                            <p class="card-text ml-3">Address</p>
                                            <a href="javascript:void(0)" class="btn btn-primary">View more</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3 mt-1">
                                    <div class="card">
                                        <img class="card-img-top" src="assets/btc5.jpg" alt="Card image cap"/>

                                        <div class="card-body">
                                            <h5 class="card-title">Bitexco</h5>
                                            <p class="card-text ml-3">Address</p>
                                            <a href="javascript:void(0)" class="btn btn-primary">View more</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3 mt-1">
                                    <div class="card">
                                        <img class="card-img-top" src="assets/btc5.jpg" alt="Card image cap"/>

                                        <div class="card-body">
                                            <h5 class="card-title">Bitexco</h5>
                                            <p class="card-text ml-3">Address</p>
                                            <a href="javascript:void(0)" class="btn btn-primary">View more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-3 mt-1">
                                    <div class="card">
                                        <img class="card-img-top" src="assets/btc5.jpg" alt="Card image cap"/>

                                        <div class="card-body">
                                            <h5 class="card-title">Bitexco</h5>
                                            <p class="card-text ml-3">Address</p>
                                            <a href="javascript:void(0)" class="btn btn-primary">View more</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3 mt-1">
                                    <div class="card">
                                        <img class="card-img-top" src="assets/btc5.jpg" alt="Card image cap"/>

                                        <div class="card-body">
                                            <h5 class="card-title">Bitexco</h5>
                                            <p class="card-text ml-3">Address</p>
                                            <a href="javascript:void(0)" class="btn btn-primary">View more</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3 mt-1">
                                    <div class="card">
                                        <img class="card-img-top" src="assets/btc5.jpg" alt="Card image cap"/>

                                        <div class="card-body">
                                            <h5 class="card-title">Bitexco</h5>
                                            <p class="card-text ml-3">Address</p>
                                            <a href="javascript:void(0)" class="btn btn-primary">View more</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3 mt-1">
                                    <div class="card">
                                        <img class="card-img-top" src="assets/btc5.jpg" alt="Card image cap"/>

                                        <div class="card-body">
                                            <h5 class="card-title">Bitexco</h5>
                                            <p class="card-text ml-3">Address</p>
                                            <a href="javascript:void(0)" class="btn btn-primary">View more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a
                        class="carousel-control-prev"
                        href="#caroulselNearbyDestination"
                        role="button"
                        data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a
                        class="carousel-control-next"
                        href="#caroulselNearbyDestination"
                        role="button"
                        data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </main>
    </div>
</div>

<app-footer></app-footer>