<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-5 chooseDestination">
          <input type="text" placeholder="Choose your destination">
      </div>

      <div class="col-md-5">
        <a routerLink='/pages' routerLinkActive='active'>
          <img src="../../../assets/travel.png" title="Logo" alt="Logo">
        </a>
      </div>
      
      <div class="col-md-2 user">
          <button *ngIf="!isSignIn" (click)="showSignIn()">Sign in</button>
          <button *ngIf="isSignIn" mat-button [matMenuTriggerFor]="menu">Winny</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink='/pages/profile' routerLinkActive='active'>Profile</button>
            <button mat-menu-item (click)="showSignOut()">Sign out</button>
          </mat-menu>
          <!-- <a routerLink='/pages/bookinghome' routerLinkActive='active'>Booking</a> -->
          <mat-icon *ngIf="!isSignIn" matBadge="0" matBadgeColor="warn">notifications</mat-icon>
          <mat-icon *ngIf="isSignIn" matBadge="15" matBadgeColor="warn" (click)="openNewsFeed()" style="cursor: pointer">notifications</mat-icon>
      </div>
    </div>
  </div>
</div>
