<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-5 chooseDestination">
          <input type="text" placeholder="Choose your destination">
      </div>

      <div class="col-md-5">
        <a routerLink='/pages' routerLinkActive='active'>
          <img src="../../../assets/travel.png" title="Logo" alt="Logo">
        </a>
      </div>
      
      <div class="col-md-2 user">
          <button (click)="showSignIn()">Sign in</button>
      </div>
    </div>
  </div>
</div>
