.header {
    background-color: transparent;
}

.chooseDestination {
    margin-top: auto;
    margin-bottom: auto;
}

input {
    background-color: transparent;
    border-width: 0.001em;
    color: black;
}

img {
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 3em;
    max-height: 3em;
}

#search {
    background-color: gray;
}

button {
    border: none;
    background-color: transparent;
    margin-right: 1em;
    color: black;
}

.user {
    margin-top: auto;
    margin-bottom: auto;
}