<div class="container">
    <h3>Jimmy</h3>
    <h5>Articles</h5>
    <div class="article">
        <div class="container">
            <div class="row">
                <div class="image">
                <a href='/pages/review'>
                    <img src="../../../assets/image.jpg" title="image" alt="image"/>
                </a>
                </div>
                
                <div class="content">
                <a href="/pages/review">
                    <h5>Bitexco</h5>
                </a>
                <a href="/pages/profile">
                    <span style="font-size: 0.6em;">Author: Jimmy</span>
                </a>
                <br/>
                <span>
                    bla bla bla bla
                </span>
                </div>
            </div>
        </div>

        <div class="container">
                <div class="row">
                    
                    <div class="content">
                    <a href="/pages/review">
                        <h5>Bitexco</h5>
                    </a>
                    <a href="/pages/profile">
                        <span style="font-size: 0.6em;">Author: Jimmy</span>
                    </a>
                    <br/>
                    <span>
                        bla bla bla bla
                    </span>
                    </div>

                    <div class="image">
                        <a href='/pages/review'>
                            <img src="../../../assets/image.jpg" title="image" alt="image"/>
                        </a>
                    </div>

                </div>
            </div>
    </div>
    <hr/>
    <h5>Reviews</h5>
    <div class="review">
        <img src="../../../assets/avatar.png"/>
        <span> Vote: 1   Down vote: 1</span>
        <p>
            bla bla bla
        </p>

        <img src="../../../assets/avatar.png"/>
        <span> Vote: 1   Down vote: 1</span>
        <p>
            bla bla bla
        </p>
    </div>


    <h3>Jimmy</h3>
    <h5>Articles</h5>
    <div class="article">
        <div class="container">
            <div class="row">
                <div class="image">
                <a href='/pages/review'>
                    <img src="../../../assets/image.jpg" title="image" alt="image"/>
                </a>
                </div>
                
                <div class="content">
                <a href="/pages/review">
                    <h5>Bitexco</h5>
                </a>
                <a href="/pages/profile">
                    <span style="font-size: 0.6em;">Author: Jimmy</span>
                </a>
                <br/>
                <span>
                    bla bla bla bla
                </span>
                </div>
            </div>
        </div>

        <div class="container">
                <div class="row">
                    
                    <div class="content">
                    <a href="/pages/review">
                        <h5>Bitexco</h5>
                    </a>
                    <a href="/pages/profile">
                        <span style="font-size: 0.6em;">Author: Jimmy</span>
                    </a>
                    <br/>
                    <span>
                        bla bla bla bla
                    </span>
                    </div>

                    <div class="image">
                        <a href='/pages/review'>
                            <img src="../../../assets/image.jpg" title="image" alt="image"/>
                        </a>
                    </div>

                </div>
            </div>
    </div>
    <hr/>
    <h5>Reviews</h5>
    <div class="review">
        <img src="../../../assets/avatar.png"/>
        <span> Vote: 1   Down vote: 1</span>
        <p>
            bla bla bla
        </p>

        <img src="../../../assets/avatar.png"/>
        <span> Vote: 1   Down vote: 1</span>
        <p>
            bla bla bla
        </p>
    </div>

</div>