<div id="login-box">
  <div class="left">
    <h1>{{signup}}</h1>
    
    <input type="text" name="username" placeholder="Username" />
    <input type="text" name="email" placeholder="E-mail" />
    <input type="password" name="password" placeholder="Password" />
    <input type="password" name="password2" placeholder="Retype password" />
    
    <input type="submit" name="signup_submit" value="Sign me up"/>
  </div>
  
  <div class="right">
    <span class="loginwith">{{signin1}}<br />{{signin2}}</span>
    
    <button class="social-signin facebook" [mat-dialog-close]="true">{{facebook}}</button>
    <button class="social-signin twitter" [mat-dialog-close]="true">{{twitter}}</button>
    <button class="social-signin google" [mat-dialog-close]="true">{{google}}</button>
  </div>
  <div class="or">{{or}}</div>
</div>