<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img src="#" title="Logo" alt="Logo"/>
      </div>

      <div class="col-md-2 item">
        <a href="#">About</a>
      </div>

      <div class="col-md-2 item">
        <a href="#">Partner</a>
      </div>
      
      <div class="col-md-2 item">
        <a href="#">Contact</a>
      </div>

      <div class="col-md-2 item">
        <a href="#">Condition</a>
      </div>

      <div class="col-md-2 item">
        <a href="#">Policy</a>
      </div>
    </div>
  </div>
</div>