.footer {
    background-color: #ff0000;
}

img {
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 5em;
    max-height: 5em;
}

.item {
    margin-top: auto;
    margin-bottom: auto;
}

a {
    color: white;
}