<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img src="../../../assets/travel.png" title="Logo" alt="Logo"/>
      </div>

      <div class="col-md-2 item">
        <a href="#">{{about}}</a>
      </div>

      <div class="col-md-2 item">
        <a href="#">{{partner}}</a>
      </div>
      
      <div class="col-md-2 item">
        <a href="#">{{contact}}</a>
      </div>

      <div class="col-md-2 item">
        <a href="#">{{condition}}</a>
      </div>

      <div class="col-md-2 item">
        <a href="#">{{policy}}</a>
      </div>
    </div>
  </div>
</div>