<!-- overview image -->
<div #top class="overviewImage">
  <div class="title">
    <h1>
      <strong>Bitexco</strong>
    </h1>
  </div>
</div>
<div class="subMenu">
  <div class="row">
    <span (click)='scroll(gallery)' class="col-md-3"><strong>Gallery</strong></span>
    <span (click)='scroll(article)' class="col-md-3"><strong>Related Articles</strong></span>
    <span (click)='scroll(review)' class="col-md-3"><strong>Reviews</strong></span>
    <span (click)='scroll(service)' class="col-md-3"><strong>Services</strong></span>
  </div>
</div>

<!-- overview content -->
<div class="overview">
  <!-- <h1>Ho Chi Minh City</h1> -->
  <p>
    Bitexco Financial Tower (Vietnamese: Tháp Tài chính Bitexco) is a skyscraper in Ho Chi Minh City, Vietnam. At its completion in 2010, it became the tallest building in Vietnam and kept this status until January 2011.
  </p>
  <hr/>
</div>

<!-- image -->
<h1>Gallery</h1>
<div class="container" #gallery>
  <div class="gallery">
      <img src="../../../assets/gallery.jpg"/>
      <img src="../../../assets/gallery1.jpg"/>
      <img src="../../../assets/gallery.jpg"/>
      <img src="../../../assets/gallery1.jpg"/>
      <img src="../../../assets/gallery.jpg"/>
      <img src="../../../assets/gallery1.jpg"/>
      <img src="../../../assets/gallery.jpg"/>
      <img src="../../../assets/gallery1.jpg"/>
      <img src="../../../assets/gallery.jpg"/>
      <img src="../../../assets/gallery1.jpg"/>
  </div>
</div>

<hr/>

<!-- link article -->
<h1>Related Articles</h1>
<div class="article container" #article>

  <mat-paginator  [length]="length" 
    [pageSize]="pageSize" 
    [pageSizeOptions]="pageSizeOptions" 
    (page)="onPageChangedArticle($event)">
  </mat-paginator>

  <div class="container">
    <div class="row">
      <div class="image">
        <a href='/pages/review'>
          <img [src]="listArticle.image" title="image" alt="image"/>
        </a>
      </div>
      
      <div class="content">
        <a href="/pages/review">
          <h4>{{listArticle.title}}</h4>
        </a>
        <a href="/pages/profile">
          <span style="font-size: 0.6em;">Author: {{listArticle.author}}</span>
        </a>
        <br/>
        <span>
          {{listArticle.content}}
        </span>
      </div>
    </div>
  </div>

  <br/>

  <div class="container">
    <div class="row">
      <div class="content">
        <a href="/pages/review">
          <h4>{{listArticle.title}}</h4>
        </a>
        <a href="/pages/profile">
          <span style="font-size: 0.6em;">Author: {{listArticle.author}}</span>
        </a>
        <br/>
        <span>
          {{listArticle.content}}
        </span>
      </div>

      <div class="image">
        <a href='/pages/review'>
          <img [src]="listArticle.image" title="image" alt="image"/>
        </a>
      </div>
    </div>
  </div> 
</div>

<hr/>

<!-- review -->
<h1>Reviews</h1>
<div #review class="container">

  <mat-paginator  [length]="length" 
    [pageSize]="pageSize" 
    [pageSizeOptions]="pageSizeOptions" 
    (page)="onPageChangedReview($event)">
  </mat-paginator>

  <div class="review" *ngFor="let reviewDetail of listReview">
    <img [src]="reviewDetail.avatar"/>
    <span><strong>{{reviewDetail.title}}</strong></span>
    <br/>
    <span>
      {{reviewDetail.comment}}
    </span>
    <span class="vote">
      <mat-icon matBadge='{{reviewDetail.vote}}' matBadgeColor="warn">thumb_up</mat-icon>  
      <mat-icon matBadge='{{reviewDetail.downVote}}' matBadgeColor="warn">thumb_down</mat-icon> 
    </span>
    <hr/>
  </div>

  <!-- add comment -->
  <div class="container  addComment">
    Add comment
    <br/> 
    <textarea></textarea>
    <input type="submit" style="margin-left: 1em;" title="Cancel" value="Cancel">
    <input type="reset" title="Post" value="Post">
  </div>
</div>

<hr/>

<h1>Services</h1>
<div #service class="container">
  <div class="row">
    <div class="card">
      <a href="/pages/places">
        <img src="../../../assets/image.jpg" alt="Avatar" style="width:100%">
      </a>
      <a href="/pages/places">
        <div class="container">
          <h4><b>Bitexco</b></h4> 
          <p>Address: bla bla</p> 
        </div>
      </a>
    </div>

    <div class="card">
      <a href="/pages/places">
        <img src="../../../assets/image.jpg" alt="Avatar" style="width:100%">
      </a>
      <a href="/pages/places">
        <div class="container">
          <h4><b>Bitexco</b></h4> 
          <p>Address: bla bla</p> 
        </div>
      </a>
    </div>

    <div class="card">
      <a href="/pages/places">
        <img src="../../../assets/image.jpg" alt="Avatar" style="width:100%">
      </a>
      <a href="/pages/places">
        <div class="container">
          <h4><b>Bitexco</b></h4> 
          <p>Address: bla bla</p> 
        </div>
      </a>
    </div>

    <div class="card">
      <a href="/pages/places">
        <img src="../../../assets/image.jpg" alt="Avatar" style="width:100%">
      </a>
      <a href="/pages/places">
        <div class="container">
          <h4><b>Bitexco</b></h4> 
          <p>Address: bla bla</p> 
        </div>
      </a>
    </div>
  </div>
</div>

<button (click)="scroll(top)" id="myBtn" title="Go to top">^</button>