<!-- overview image -->
<div #top class="overviewImage">
  <div class="title">
    <h1>
      <strong>Bitexco</strong>
    </h1>
  </div>
</div>
<div class="subMenu">
  <div class="row">
    <span (click)='scroll(gallery)' class="col-md-3"><strong>Gallery</strong></span>
    <span (click)='scroll(article)' class="col-md-3"><strong>Related Articles</strong></span>
    <span (click)='scroll(review)' class="col-md-3"><strong>Reviews</strong></span>
    <span (click)='scroll(service)' class="col-md-3"><strong>Services</strong></span>
  </div>
</div>

<!-- overview content -->
<div class="overview">
  <!-- <h1>Ho Chi Minh City</h1> -->
  <p>
    Bitexco Financial Tower is a skyscraper in Ho Chi Minh City, Vietnam.
  </p>
  <p style="color:blue; cursor: pointer;" (click)='scroll(gallery)'><strong>More...</strong></p>
</div>

<hr/>

<!-- image -->
<div class="heading">
  <h1>Gallery</h1>
</div>
<div #gallery>
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile><img src="../../../assets/btc1.jpg"/></mat-grid-tile>
    <mat-grid-tile><img src="../../../assets/btc2.jpg"/></mat-grid-tile>
    <mat-grid-tile><img src="../../../assets/btc3.jpg"/></mat-grid-tile>
    <mat-grid-tile><img src="../../../assets/btc4.jpg"/></mat-grid-tile>
    <mat-grid-tile><img src="../../../assets/btc5.jpg"/></mat-grid-tile>
    <mat-grid-tile><img src="../../../assets/btc6.jpg"/></mat-grid-tile>
  </mat-grid-list>
</div>

<hr/>

<!-- link article -->
<div class="heading">
  <h1>Related Articles</h1>
</div>
<div class="article container" #article>

  <mat-paginator  [length]="length" 
    [pageSize]="pageSize" 
    [pageSizeOptions]="pageSizeOptions" 
    (page)="onPageChangedArticle($event)">
  </mat-paginator>

  <div class="container">
    <div class="row">
      <div style="padding-right:1em" class="image">
        <a href='/pages/review'>
          <img [src]="listArticle.image" title="image" alt="image"/>
        </a>
      </div>
      
      <div class="content">
        <a href="/pages/review">
          <h4>{{listArticle.title}}</h4>
        </a>
        <a href="/pages/profile">
          <span style="font-size: 0.6em;">Author: {{listArticle.author}}</span><br/>
        </a>
        <span style="font-size: 0.7em;">Ho Chi Minh city - 20/10/2018</span>
        <div style="font-size: 0.7em; color: #ffc107;" class="rating">
          <i class="fa fa-star"></i> <i class="fa fa-star"></i>
          <i class="fa fa-star"></i> <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <br/>
        <span>
          {{listArticle.content}}
        </span>
      </div>
    </div>
  </div>

  <br/>

  <div class="container">
    <div class="row">
      <div class="content">
        <a href="/pages/review">
          <h4>{{listArticle.title}}</h4>
        </a>
        <a href="/pages/profile">
          <span style="font-size: 0.6em;">Author: {{listArticle.author}}</span><br/>
        </a>
        <span style="font-size: 0.7em;">Ho Chi Minh city - 20/10/2018</span>
        <div style="font-size: 0.7em; color: #ffc107;" class="rating">
          <i class="fa fa-star"></i> <i class="fa fa-star"></i>
          <i class="fa fa-star"></i> <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>

        <br/>
        <span>
          {{listArticle.content}}
        </span>
      </div>

      <div style="padding-left:1em" class="image">
        <a href='/pages/review'>
          <img [src]="listArticle.image" title="image" alt="image"/>
        </a>
      </div>
    </div>
  </div> 
</div>

<hr/>

<!-- review -->
<div class="heading">
  <h1>Reviews</h1>
</div>
<div #review class="container">

  <mat-paginator  [length]="length" 
    [pageSize]="pageSize" 
    [pageSizeOptions]="pageSizeOptions" 
    (page)="onPageChangedReview($event)">
  </mat-paginator>

  <div class="review" *ngFor="let reviewDetail of listReview">
    <img [src]="reviewDetail.avatar"/>
    <span><strong>{{reviewDetail.title}}</strong></span><br/>
    <span style="font-size: 0.7em;">20/10/2018</span>
    <div style="font-size: 0.7em; color: #ffc107;" class="rating">
      <i class="fa fa-star"></i> <i class="fa fa-star"></i>
      <i class="fa fa-star"></i> <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    </div>
    <span>
      {{reviewDetail.comment}}
    </span>
    <!-- <span class="vote">
      <mat-icon matBadge='{{reviewDetail.vote}}' matBadgeColor="warn">thumb_up</mat-icon>  
      <mat-icon matBadge='{{reviewDetail.downVote}}' matBadgeColor="warn">thumb_down</mat-icon> 
    </span> -->
    <div class="vote mt-3 pr-5">
        <mat-icon matBadge="15" matBadgeColor="warn">
            <i class="fa fa-thumbs-up"></i>
        </mat-icon>&nbsp;&nbsp;&nbsp;
        <mat-icon matBadge="15" matBadgeColor="warn">
            <i class="fa fa-thumbs-down"></i>
        </mat-icon>
    </div>
    <br/>
    <hr/>
    <br/>
  </div>

  <!-- add comment -->
  <div class="addComment">
    <br/> 
    <textarea placeholder="Add comment..."></textarea>
    <input type="submit" style="margin-left: 1em;" title="Cancel" value="Cancel">
    <input type="reset" title="Post" value="Post">
  </div>
</div>

<hr/>

<div class="heading">
  <h1>Services</h1>
</div>
<div #service class="service">
  <mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile>
      <div class="card">
        <a href="/pages/places">
          <img src="../../../assets/image.jpg" alt="Avatar" style="width:100%">
        </a>
        <a href="/pages/places">
          <div class="container">
            <h4><b>Bitexco</b></h4> 
            <p>Address: bla bla</p> 
          </div>
        </a>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="card">
        <a href="/pages/places">
          <img src="../../../assets/hcmc6.jpg" alt="Avatar" style="width:100%">
        </a>
        <a href="/pages/places">
          <div class="container">
            <h4><b>Ben Thanh Market</b></h4> 
            <p>Address: bla bla</p> 
          </div>
        </a>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="card">
        <a href="/pages/places">
          <img src="../../../assets/hcmc10.jpg" alt="Avatar" style="width:100%">
        </a>
        <a href="/pages/places">
          <div class="container">
            <h4><b>Nha Rong Habour</b></h4> 
            <p>Address: bla bla</p> 
          </div>
        </a>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="card">
        <a href="/pages/places">
          <img src="../../../assets/hcmc9.jpg" alt="Avatar" style="width:100%">
        </a>
        <a href="/pages/places">
          <div class="container">
            <h4><b>Hồ Con Rùa</b></h4> 
            <p>Address: bla bla</p> 
          </div>
        </a>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<button (click)="scroll(top)" id="myBtn" title="Go to top">^</button>