.overviewImage {
    background-image: url(src/assets/place.jpg);
    height: 15em;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.title {
    color: blue;
    text-align: center;
    top: 30%;
    position: relative;
}

h1 {
    text-align: center;
}

.overview p {
    text-align: justify;
    padding-left: 1em;
    padding-right: 1em;
    border: 0.001em solid gray;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: lightgoldenrodyellow;
    border-radius: 20px;;
}

hr {
    margin-left: 3em;
    margin-right: 3em;
}

.article {
    margin-bottom: 1em;
}

.image img {
    width: 100%;
}

.image {
    width: 20%;
}

.content {
    width: 80%;
}

.container {
    overflow: hidden;
    background-color: rgb(235, 232, 232);
}

span {
    text-align: justify;
}

.gallery img {
    width: 20%;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.review img {
    max-width: 3em;
    max-height: 3em;
}

.review span {
    color: blue;
}

.list {
max-width: 550px;
margin: auto;
}
  
li {
margin-bottom: 5px;
}

.subMenu span {
    text-align: center;
    background-color: antiquewhite;
    cursor: pointer;
    color: blue;
}

/* .gallery {
    white-space: nowrap;
}

.gallery li {
float: left
}
.gallery li img {
float: left;
background: #EFEFEF;
padding: 5px;
margin: 5px;
border: 1px solid #AAA;
width: 20%;
} */